<div class="row" id="bordes">
    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../assets/1648661135179.jpg" alt="Foto de Perfil" class="img-fluid" id="foto-de-perfil">
    </div>

    
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
            <h2 id="nombre">{{persona.nombre}} {{persona.apellido}}</h2>
            <p id="titulo">Full Stack Developer Jr</p>
        </div>
    
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mí</h1>
                <p>Mi nombre es Jonathan, soy de la ciudad de Sierra Grande (Rio Negro-Argentina). Actualmente resido en La Plata, provincia de Buenos Aires. Tengo 29 años y soy músico, en proceso de terminar la carrera de Licenciatura en Música Popular.</p>
                <p>Además me certifiqué como Full stack developer jr por medio del programa #ArgentinaPrograma, adquiriendo conocimientos tanto de Html, Css y Javascripts. Lo cual trataré de especificar por medio de este Portafolio.</p>
            </span>
        


    </div>
    

    

</div>