<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>

    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Educación 1</h1> - <h3>xxxx-xxxx</h3>
                
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium suscipit maxime odit ad pariatur, ut reprehenderit sapiente doloribus mollitia aspernatur deserunt repellendus? Provident molestias praesentium, ab aspernatur ipsam unde cum.</p>
        </ul>

        <ul>
            <li>
                <h1>Educación 2</h1> - <h3>xxxx-xxxx</h3>
                
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium suscipit maxime odit ad pariatur, ut reprehenderit sapiente doloribus mollitia aspernatur deserunt repellendus? Provident molestias praesentium, ab aspernatur ipsam unde cum.</p>
        </ul>

        <ul>
            <li>
                <h1>Educación 3</h1> - <h3>xxxx-xxxx</h3>
                
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium suscipit maxime odit ad pariatur, ut reprehenderit sapiente doloribus mollitia aspernatur deserunt repellendus? Provident molestias praesentium, ab aspernatur ipsam unde cum.</p>
        </ul>

    </div>

</div>